.nad-branch-edges polyline {stroke: var(--nad-vl-color, black); stroke-width: 0.05; fill: none}
.nad-branch-edges circle {stroke: var(--nad-vl-color, black); stroke-width: 0.05; fill: white}
.nad-3wt-edges polyline {stroke: var(--nad-vl-color, black); stroke-width: 0.05; fill: none}
.nad-text-edges {stroke: grey; stroke-width: 0.02; ; stroke-dasharray: .1,.1}
.nad-disconnected {stroke-dasharray: .1,.1}
.nad-vl-nodes circle {fill: var(--nad-vl-color, lightblue)}
.nad-state-out .nad-arrow-in {visibility: hidden}
.nad-state-in .nad-arrow-out {visibility: hidden}
.nad-active path {stroke: none; fill: #546e7a}
.nad-active {visibility: visible}
.nad-reactive {visibility: hidden}
.nad-reactive path {stroke: none; fill: #0277bd}
.nad-vl-nodes .nad-text-buses {font: 0.6px "Verdana"; fill: white}
.nad-text-nodes {font: 0.25px "Verdana"; fill: grey}
.nad-edge-infos {font: 0.2px "Verdana"}
.nad-edge-infos .nad-state-in {fill: #b71c1c}
.nad-edge-infos .nad-state-out {fill: #2e7d32}
.nad-vl0to30 {--nad-vl-color: #AFB42B}
.nad-vl30to50 {--nad-vl-color: #EF9A9A}
.nad-vl50to70 {--nad-vl-color: #9C27B0}
.nad-vl70to120 {--nad-vl-color: #E65100}
.nad-vl120to180 {--nad-vl-color: #00ACC1}
.nad-vl180to300 {--nad-vl-color: #2E7D32}
.nad-vl300to500 {--nad-vl-color: #D32F2F}
